<?xml version="1.0"?>
<config>
    <modules>
        <Test_Refactor>
            <version>0.1.0</version>
        </Test_Refactor>
    </modules>
    <frontend>
        <routers>
            <test_refactor>
                <use>standard</use>
                <args>
                    <module>Test_Refactor</module>
                    <frontName>downloadOrderCustomOption</frontName>
                </args>
            </test_refactor>
        </routers>
    </frontend>
    <global>
        <helpers>
            <test_refactor>
                <class>Test_Refactor_Helper</class>
            </test_refactor>
        </helpers>
        <blocks>
            <test_refactor>
                <class>Test_Refactor_Block</class>
            </test_refactor>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <test_refactor after="Mage_Adminhtml">Test_Refactor_Adminhtml</test_refactor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <test_refactor>
                    <file>test/refactor.xml</file>
                </test_refactor>
            </updates>
        </layout>
    </adminhtml>
</config>